<p id="notice"><%= notice %></p>

<h1>Crews</h1>

<table>
  <thead>
    <tr>
      <th>Tv show internal</th>
      <th>Episode number</th>
      <th>Season number</th>
      <th>Name</th>
      <th>Department</th>
      <th>Job</th>
      <th>Profile path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crews.each do |crew| %>
      <tr>
        <td><%= crew.tv_show_internal %></td>
        <td><%= crew.episode_number %></td>
        <td><%= crew.season_number %></td>
        <td><%= crew.name %></td>
        <td><%= crew.department %></td>
        <td><%= crew.job %></td>
        <td><%= crew.profile_path %></td>
        <td><%= link_to 'Show', crew %></td>
        <td><%= link_to 'Edit', edit_crew_path(crew) %></td>
        <td><%= link_to 'Destroy', crew, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crew', new_crew_path %>
