<p id="notice"><%= notice %></p>

<h1>Tv Show Seasons</h1>

<table>
  <thead>
    <tr>
      <th>Tv show internal</th>
      <th>Name</th>
      <th>Overview</th>
      <th>Season number</th>
      <th>Air date</th>
      <th>Poster path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_show_seasons.each do |tv_show_season| %>
      <tr>
        <td><%= tv_show_season.tv_show_internal %></td>
        <td><%= tv_show_season.name %></td>
        <td><%= tv_show_season.overview %></td>
        <td><%= tv_show_season.season_number %></td>
        <td><%= tv_show_season.air_date %></td>
        <td><%= tv_show_season.poster_path %></td>
        <td><%= link_to 'Show', tv_show_season %></td>
        <td><%= link_to 'Edit', edit_tv_show_season_path(tv_show_season) %></td>
        <td><%= link_to 'Destroy', tv_show_season, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tv Show Season', new_tv_show_season_path %>
